* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-btn {
    margin: 50px;

}

.menu {
    display: flex;
    align-content: center;
    width: 30vw;
    height: 3vh;
    padding: 5px;
    gap: 2rem;
    margin: 2px;
    color: rgb(225, 225, 225);
    background-color: black;
}

.container-ppal {
    display: flex;
    width: 100vw;
    align-content: center;
    justify-content: center;  /* space-evenly */
    background-color: blue;
    gap: 2rem;
}

.fichas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-sticker {
    width: 200px;
    height: 200px;
}

input {
    width: 5rem;
}

.container-pw {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    gap: 2rem;
    border: solid 2px black;

}

.containerNumber {
    display: flex;
    width: 50vw;
    align-content: center;
    justify-content: center;
    /* background-color: blue; */
    gap: 1rem;
}

.btnin {
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
}

